.ms-Viewport {
  width: 100%;
}

span.ms-layer {
  margin: 0!important;
}

pre {
  margin: 0;
  overflow-x: auto;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}