skip_branch_with_pr: true

environment:
  GO_VERSION: 1.15.3
  GITHUB_TOKEN:
    secure: eiUu4bDjW+iunm/q1LsDOIBF3EOAZBRynjMztjPDwFOTDivVlYlSPvfjlQY3+Qd9

  matrix:
    - job_name: Windows
      job_group: tests
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019

    - job_name: Linux
      job_group: tests
      APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu

    - job_name: macOS
      job_group: tests
      APPVEYOR_BUILD_WORKER_IMAGE: macOS

    - job_name: Release
      job_depends_on: tests
      APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu

matrix:
  fast_finish: true
  
for:
  
# ======================================
#      Windows
# ======================================

-
  matrix:
    only:
    - job_name: Windows

  install:
  - ps: .\install_go.ps1
  - set GOPATH=%USERPROFILE%\go
  - echo %GOPATH%
  - echo %GOROOT%

  build_script:
  - go get -u github.com/jteeuwen/go-bindata/...
  - go-bindata -o internal/server/bindata.go --pkg server client/build/...
  - go install github.com/pglet/pglet/cmd/pglet
  - dir %USERPROFILE%\Go\bin

  test_script:
  - run-tests.cmd

# ======================================
#      Linux
# ======================================

-
  matrix:
    only:
    - job_name: Linux

  install:
  - ./install_go.sh

  build_script:
  - go get -u github.com/jteeuwen/go-bindata/...
  - go-bindata -o internal/server/bindata.go --pkg server client/build/...
  - go install github.com/pglet/pglet/cmd/pglet
  - ls $GOPATH/bin

  test_script:
  - ./run-tests.sh

# ======================================
#      macOS
# ======================================

-
  matrix:
    only:
    - job_name: macOS

  install:
  - ./install_go.sh

  build_script:
  - go get -u github.com/jteeuwen/go-bindata/...
  - go-bindata -o internal/server/bindata.go --pkg server client/build/...
  - go install github.com/pglet/pglet/cmd/pglet
  - ls $GOPATH/bin

  test_script:
  - ./run-tests.sh

# ======================================
#      Release
# ======================================

-
  matrix:
    only:
    - job_name: Release

  install:
  - ./install_go.sh
  - sh: |
      sudo snap install --classic goreleaser
      goreleaser --version

  build_script:
  - sh: |
      if [[ "$APPVEYOR_REPO_TAG" == "true" ]]; then
        goreleaser
      else
        goreleaser --snapshot --skip-publish
      fi

  artifacts:
  - path: dist/pglet-*

  test: off